@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Tasklist>

<table class="fw-bold">
    <thead>
        <tr>
            <td>Category</td>
            <td>Task</td>
            <td>Quadrant</td>
            <td>Due Date</td>
            <td>Completion Status</td>
        </tr>
    </thead>

    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@x.Category</td>
                <td>@x.TaskName</td>
                <td>@x.Quadrant</td>
                <td>@x.DueDate</td>
                <td>@x.Completion</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
            </tr>
        </tbody>
    }
</table>